main
{
    padding-left: .25vw;
    border: .25vw solid rgb(200, 200, 225);
}

h1
{
    font-size: 3vw;
}

h2
{
    font-size: 1.75vw;
    margin-top: -3vh;
}

em:last-child
{
    text-decoration: underline;
}